.page {
  background: $mainBgCl;
  color: $primaryTxtCl;
}
a {
  color: currentColor;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
/* Скидання  */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
textarea {
  resize: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background: $actionalyTxtCl;
  color: $whiteTxtCl;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
}
.sotials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $mainBgCl;
  fill: $iconLinkCl;
  transition: background-color $timeHoverEffect cubic-bezier(0.4, 0, 0.2, 1),
    fill $timeHoverEffect cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $whiteTxtCl;
    background-color: $actionalyTxtCl;
  }
}
