.logo__link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  &--header {
    color: $primaryTxtCl;
    margin-right: 93px;
    display: inline;

    &-web {
      color: $actionalyTxtCl;
    }
  }

  &--footer {
    display: block;
    color: $whiteTxtCl;
    margin-bottom: 20px;

    &-web {
      color: $actionalyTxtCl;
    }
  }
}
